  <h1>Welcome to Cover Letter Generator</h1>

  <h4><em>Start filling out the form and watch the magic happen below</em></h4>
  <h6><em>Carefully review the job requirements for your target job and make sure you connect your qualifications to those requirements in your letter.  Include the skills, experience and education which line up with the job requirements. Make sure you include references to the specific accomplishments and results you achieved.</em></h6>
  <div ng-controller="CoverletterCtrl" class="row">
    <div class="col-xs-4">
      <ol>
        <li>Company You are Applying for <input type="text" ng-model="companyName"></li>
        <li>Position <input type="text" ng-model="position"></li>
        <li>Your Name <input type="text" ng-model="yourName"></li>
        <li>Your Email <input type="email" ng-model="yourEmail"></li>
        <li>Your Phone Number ex: 666-666-6666 <input type="text" ng-model="yourPhoneNumber"></li>
        <li> A few sentences about the company for your intro (think current news or or why you are writing to them)
          <button ng-click="addP1()">Add Sentence Field</button>
          <button ng-click="removeP1()">Remove Sentence Field</button>
          <input type="text" ng-model="sen.name" ng-repeat="sen in firstP">
        </li>

        <li>Thesis Sentence ex: I can be both a positive force and a success at XYZ company as I have a strong interest in X field, a history of success, and a great work ethic. <input type="text" ng-model="thesis"></li>

        <li> A few sentences about yourself and what value you can provide. Why you are qualified (highlighting specific accomplishments) (3 min)
            <button ng-click="addP2()">Add Sentence Field</button>
            <button ng-click="removeP2()">Remove Sentence Field</button>
            <input type="text" ng-model="sen.name" ng-repeat="sen in secondP">
        </li>
        <li><button type="button" clip-copy="generateLetter()" clip-click="doSomething()">Copy</button>
        </li>
<!-- TODO ADD BUTTON TO GENERATE A FORMATTED COPY AND PASTABLE COVER LETTER -->
<!--         <li><button ng-click="showCover()">Generate Formatted Cover Letter</button>
        </li> -->
      </ol>
    </div>


<!-- GENERATED COVER LETTER STARTS HERE -->
    <article class="col-lg-8 j-article">
      <h4>Your generated Cover Letter:</h4>
      <p ng-show="companyName">Dear {{companyName | multiCapitalize}} Human Resource Department,</p><br>

      <p>
        <span ng-show="position">I would like to express my interest in the {{position | multiCapitalize}} position at </span>
        <span ng-show="companyName">{{companyName | multiCapitalize}}. </span>
        <span ng-repeat="sen in firstP">
          <span ng-show="firstP[$index].name"> {{sen.name | capitalize}}.&nbsp</span>
        </span>
        <span ng-show="thesis">{{thesis | capitalize}}. </span>
      </p>

      <p><span ng-repeat="sen in secondP">
          <span ng-show="secondP[$index].name"> {{sen.name | capitalize}}.&nbsp</span>
        </span>
      </p>

      <p ng-show="yourPhoneNumber || yourEmail">Please consider reviewing my attached resume as it can provide more information. I hope to have an opportunity to further discuss my qualifications with your company. If you have any questions, please feel free to contact me by phone ({{yourPhoneNumber}}) or email({{yourEmail | capitalize}}). Thank you for your consideration.</p><br>
      <div ng-show="yourName || yourPhoneNumber ||yourEmail">Sincerely,</div>
      <footer>
        <div ng-show="yourName">{{yourName | multiCapitalize}}</div>
        <div>{{yourPhoneNumber}}</div>
        <div ng-show="yourEmail">{{yourEmail | capitalize}}</div>
      </footer>
    </div>
  </article>
<!-- GENERATED COVER LETTER ENDS HERE -->