<h3>Welcome to Interview Prep</h3>
<em>There are six questions asked in almost every interview, click Get Next Question to Begin</em><br><br><br>
<h1 ng-model="question.value" class="text-center">{{question.value}}</h2>
<button ng-click="getQuestion()" class="btn btn-primary" ng-hide="interviewQuestions.length === 0">Get Next Question</button>
<br><br><br><br><br>

<header>
<div> Total time spent on this interview: {{counter}} </div>
<br>
 <button ng-click="stop()">End Interview Here and Stop Your Time</button>