<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/coverletter">Cover Letter Generator</a></li>
    <li><a ng-href="#/thankyou">Thank You Letter Generator</a></li>
    <li><a ng-href="#/thankyou">Thank You Letter Generator</a></li>
  </ul>
  <h3 class="text-muted">ultimateJobApplier</h3>
</div>

<div class="jumbotron">
  <h1>Hi, R u Ready to Get on With Yo Job Application Process?</h1>
  <p class="lead">
    <img src="images/jobsearch.png" alt="I'm Yeoman"><br>
  </p>
  <div class="special-widthf">
    <div><a class="btn-block btn-lg btn-success" ng-href="#/coverletter">The Art of the CoverLetter</a></div>
    <div><a class="btn-block btn-lg btn-success" ng-href="#/thankyou">The Art of the FollowUp</a></div>
    <div><a class="btn-block btn-lg btn-success" ng-href="#/interview">The Art of the Interview</a></div>
  </div>
</div>

<div class="row marketing">
  <h4>The Art of the Cover Letter</h4>
  <p>
    The Art of the Cover Letter is a professional front-end template for building quickly, robustly, and adaptable cover letters.
  </p>

  <h4>The Art of the Follow Up Letter</h4>
  <p>
    The Art of the Follow Up Letter is a toolset for building the best thank you and follow up letters that are suited for your job hunt.
  </p>

  <h4>The Art of the Interview</h4>
  <p>Spectacular Interview Prep for your Job Hunt.</p>
</div>

<div class="footer">
  <p><a href="http://jamesjtong.com/projects/project.html">See My Other Projects</p>
</div>
